.container {
    margin-top: 40px;
}
.answer {
    font-weight: bold;
}
.team {
    padding-right: 160px;

}
.rate {
    padding-right: 160px;
    margin-top: 40px;
}
.uefa {
    padding-right: 160px;
    margin-top: 40px ;
}

